<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/head") %>
    <title>POSTS</title>
</head>
<body>
    <%- include("partials/navigation") %>
    <% for (let i = 0; i < vp.lenght ; i++) { %>
            <h1> <%= vp[i].title %> </h1>
            <p> <%= vp[i].body %> </p>
    <% } %>    
    <%- include("partials/footer") %>
</body>
</html>